#!/usr/bin/make -f

VERSION = $(shell dpkg-parsechangelog | grep -e "Version:" | cut -d' ' -f2 | cut -d~ -f1)


%:
	dh ${@}

override_dh_auto_clean:
	dh_auto_clean
	rm -f debian/u2deb.1

override_dh_auto_build:
	sed -e 's/@VERSION@/$(VERSION)/;' debian/u2deb.1.in > debian/u2deb.1

override_dh_install:
	dh_install
	install -m755 u2deb.sh $(CURDIR)/debian/u2deb/usr/bin/u2deb

