#!/usr/bin/make -f

# Copyright (c) 2014-2016, 2019, djcj <djcj@gmx.de>
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
# THE SOFTWARE.


include debian/confflags

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

LIBPREFIX  = usr/lib/games
ICONPREFIX = $(LIBPREFIX)/
ICONPKG    = $(NAME)
ifeq ($(DATAPACKAGE), yes)
ICONPREFIX = usr/share/games/
ICONPKG    = $(NAME)-data
endif
ICONDEST   = $(CURDIR)/debian/$(ICONPKG)/usr/share
bindir     = $(CURDIR)/debian/$(NAME)/usr/games/
libdir     = $(CURDIR)/debian/$(NAME)/$(LIBPREFIX)/$(NAME)/
datadir    = $(CURDIR)/debian/$(NAME)-data/usr/share/games/$(NAME)/
plugindir  = source/$(NAME)_Data/Plugins


%:
	dh ${@}


override_dh_auto_install:
	mkdir -p $(libdir)
	mkdir -p $(ICONDEST)
	mkdir -p $(bindir)
	mkdir -p $(CURDIR)/debian/$(NAME)/usr/share/applications

	# create icons
	debian/make-icons.sh $(ICON) $(ICONDEST)

	# install files
	cp -r source/* $(libdir)
	install -m644 $(NAME).desktop $(CURDIR)/debian/$(NAME)/usr/share/applications

	# create launcher script;
	# don't use a symlink to avoid 'There is no data folder' errors
	echo '#!/bin/sh' > $(bindir)$(NAME)
	echo 'cd "/$(LIBPREFIX)/$(NAME)" && ./$(NAME) $$*' >> $(bindir)$(NAME)
	echo 'exit $$?' >> $(bindir)$(NAME)
	chmod a+x $(bindir)$(NAME)

ifeq ($(DATAPACKAGE), yes)
	# remove data package files from /$(LIBPREFIX)
	rm -rf $(libdir)$(NAME)_Data

	mkdir -p $(datadir)
	mkdir -p $(libdir)$(NAME)_Data
	mkdir -p $(CURDIR)/debian/$(NAME)-data/usr/share

	# install data package files into /usr/share
	cp -r source/$(NAME)_Data $(datadir)
	cp -r source/$(NAME)_Data/Mono $(libdir)$(NAME)_Data
	cd $(datadir)$(NAME)_Data && rm -rf Mono Plugins
	[ ! -d $(plugindir) ] || cp -r $(plugindir) $(libdir)$(NAME)_Data

	# create symbolic links between /usr/share and /usr/lib
	for f in $$(ls $(datadir)$(NAME)_Data) ; \
	do \
	    dh_link -p$(NAME) usr/share/games/$(NAME)/$(NAME)_Data/$$f $(LIBPREFIX)/$(NAME)/$(NAME)_Data/$$f ; \
	done
endif

	# replace UnityPlayer.png with a symbolic link
	# to the biggest icon available
	for d in 512 256 128 96 64 48 32 24 22 16 ;                                         \
	do                                                                                  \
	    dir="$(ICONDEST)/icons/hicolor/$${d}x$${d}" ;                                   \
	    if [ -d $$dir ] ;                                                               \
	    then                                                                            \
	        biggesticon="$$(basename $$dir)" ;                                          \
	        dh_link -p$(ICONPKG) usr/share/icons/hicolor/$$biggesticon/apps/$(NAME).png \
	            $(ICONPREFIX)$(NAME)/$(NAME)_Data/Resources/UnityPlayer.png ;           \
	        exit 0 ;                                                                    \
	    fi ;                                                                            \
	done


override_dh_installdocs:
	dh_installdocs -A debian/UnityTOS.pdf debian/UnityTOS.rtf


# Unity engine games don't provide any shared libraries
override_dh_makeshlibs:


# can't strip Intel architecture binaries on foreign systems
override_dh_strip:
ifeq ($(HOST_INTEL), yes)
	dh_strip
endif


override_dh_shlibdeps:
ifneq ($(HOST_INTEL), yes)
	dh_shlibdeps -X$(NAME) -X.so
else
ifeq ($(PATCHELF),yes)
	# remove unnecessary dependencies that a binary was errerously linked against
	# by deleting their DT_NEEDED entries from the ELF header

	$(MAKE) -C $(CURDIR)/debian/patchelf 2>/dev/null

	rm -f uselessdeps.log
	(dh_shlibdeps -- --warnings=2 2>&1 | tee uselessdeps.log) > /dev/null

	lines=$$(wc -l uselessdeps.log | cut -d' ' -f1) ;                                 \
	for n in $$(seq 1 $$lines) ;                                                      \
	do                                                                                \
	    dep=$$(cut -d' ' -f15 uselessdeps.log | sed -n $${n}p) ;                      \
	    bin=$$(cut -d' ' -f10 uselessdeps.log | sed -n $${n}p) ;                      \
	    $(CURDIR)/debian/patchelf/patchelf --debug --remove-needed $$dep $$bin 2>&1 | \
	        grep -v -e 'keeping' | grep -v -e 'Kernel' ;                              \
	done ;
endif
ifeq ($(ARCH), x86)
	dh_shlibdeps -l/usr/lib/i386-linux-gnu/mesa/:/lib/i386-linux-gnu:/usr/lib/i386-linux-gnu
else
	dh_shlibdeps -l/usr/lib/x86_64-linux-gnu/mesa/:/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu
endif
endif


override_dh_gencontrol:
	dh_gencontrol
# fix architecture when packaging i386 on foreign system
ifeq ($(ARCH), x86)
ifneq ($(DEB_HOST_ARCH), i386)
	sed -i 's/^Architecture: .*/Architecture: i386/g' debian/$(NAME)/DEBIAN/control
endif
endif
# fix architecture when packaging amd64 on foreign system
ifeq ($(ARCH), x86_64)
ifneq ($(DEB_HOST_ARCH), amd64)
	sed -i 's/Architecture: .*/Architecture: amd64/g' debian/$(NAME)/DEBIAN/control
endif
endif


override_dh_builddeb:
	dh_builddeb $(arch_only) -- -Z$(Z) -z9

